<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wireframe Design</title>
    <link rel="stylesheet" href="/admin-salary_style.css">
</head>

<body>
<div class="Wireframe9">

    <div class="Component3">
        <div class="Rectangle37">
            <a href="/admin/admin-home_page" class="btn">
                <div class="HomePage">Home Page</div>
            </a>
            <a href="/admin/employee" class="btn">
                <div class="Mclockin">Employee</div>
            </a>
            <a href="/admin/admin-clockin_page" class="btn">
                <div class="Salary">Clockin</div>
            </a>
            <a href="/admin/admin-salary_page" class="btn">
                <div class="Notification">Salary</div>
            </a>
            <a href="/admin/admin-absence_page" class="btn">
                <div class="Absence">Absence</div>
            </a>
            <a href="/admin/admin-support_page" class="btn">
                <div class="Support">Support</div>
            </a>
        </div>
    </div>
    <div class="Rectangle38">
        <a href="/home_page" class="btn">
            <div class="Workday">Workday</div>
        </a>
        <div class="Group33">
            <div class="Rectangle39">
                <input type="search" name="search" placeholder="Search" required>
                <div class="Group36">
                    <a href="/profile_page" class="AccountCircle">
                        <img src="/asset/icon.png" alt="">
                    </a>
                    <div class="Bell">
                        <img src="/asset/bell.png" alt="Notifications Bell">
                    </div>
                    <div class="Chat">
                        <img src="/asset/mess.png" alt="Chat Icon">
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="payslip-container">
        <h1>Payslip</h1>
        <p><strong>Pay Cycle:</strong> Month - <strong>Payment Period:</strong> 26/06/2023 - 25/07/2023 - <strong>Currency:</strong> VND</p>

        <div class="employee-details">
            <p><strong>Employee ID:</strong> 00100026962</p>
            <p><strong>Employee Name:</strong> nguyen van A</p>
            <p><strong>Job Title:</strong> BARISTA (PT)</p>
            <p><strong>Pay Group:</strong> Vietnam SB - All</p>
        </div>

        <table>
            <thead>
            <tr>
                <th>Pay Item</th>
                <th>Value</th>
                <th>Unit</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="3"><strong>Base Salary</strong></td>
            </tr>
            <tr>
                <td>Base Salary</td>
                <td>25,000</td>
                <td>VND</td>
            </tr>
            <tr>
                <td>Base Salary (per hour)</td>
                <td>25,000</td>
                <td>VND</td>
            </tr>
            <tr>
                <td colspan="3"><strong>Current month Salary</strong></td>
            </tr>
            <tr>
                <td>Actual Working Hours</td>
                <td>167.50</td>
                <td>Hour</td>
            </tr>
            <tr>
                <td>Total Paid Hours</td>
                <td>167.50</td>
                <td>Hour</td>
            </tr>
            <tr>
                <td>Total Gross Salary</td>
                <td>4,187,500</td>
                <td>VND</td>
            </tr>
            <tr>
                <td colspan="3"><strong>Other Income</strong></td>
            </tr>
            <tr>
                <td>Night Working Amount</td>
                <td>153,750</td>
                <td>VND</td>
            </tr>
            <tr>
                <td>Parking Allowance</td>
                <td>161,058</td>
                <td>VND</td>
            </tr>
            <tr>
                <td>Meal Allowance</td>
                <td>670,000</td>
                <td>VND</td>
            </tr>
            <tr>
                <td>Maintenance Allowance</td>
                <td>500,000</td>
                <td>VND</td>
            </tr>
            <tr>
                <td>Bonus Incentive</td>
                <td>1,666,000</td>
                <td>VND</td>
            </tr>
            <tr>
                <td colspan="3"><strong>Deduction</strong></td>
            </tr>
            <tr>
                <td>PIT Deduction</td>
                <td>0</td>
                <td>VND</td>
            </tr>
            <tr>
                <td>Social Insurance Deduction (8%)</td>
                <td>378,352</td>
                <td>VND</td>
            </tr>
            <tr>
                <td>Health Insurance Deduction (1.5%)</td>
                <td>70,941</td>
                <td>VND</td>
            </tr>
            <tr>
                <td>Unemployment Insurance Deduction (1%)</td>
                <td>47,294</td>
                <td>VND</td>
            </tr>
            <tr>
                <td>Trade Union Deduction</td>
                <td>47,294</td>
                <td>VND</td>
            </tr>
            <tr>
                <td colspan="3"><strong>Net Take Home</strong></td>
            </tr>
            <tr>
                <td>Bank Transfer</td>
                <td> x,xxx,000</td>
                <td>VND</td>
            </tr>
            <tr>
                <td colspan="3"><strong>Leave</strong></td>
            </tr>
            <tr>
                <td>Taken Annual Leave</td>
                <td>0.00</td>
                <td>Day</td>
            </tr>
            </tbody>
        </table>
    </div>




</div>
</body>

</html>