<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wireframe Design</title>
    <link rel="stylesheet" href="/edit_profile.css">
</head>

<body>
    <div class="Wireframe9">
        <div class="Rectangle38">
            <a href="/home_page" class="btn">
                <div class="Workday">Workday</div>
            </a>
            <div class="Group33">
                <div class="Rectangle39">
                    <input type="search" name="search" placeholder="Search" required>
                    <div class="Group36">
                        <a href="/profile_page" class="AccountCircle">
                        <img src="/asset/icon.png" alt="">
                    </a>
                        <div class="Bell">
                            <img src="/asset/bell.png" alt="Notifications Bell">
                        </div>
                        <div class="Chat">
                            <img src="/asset/mess.png" alt="Chat Icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-container">
            <div class="profile-card">
                
                <div class="profile-columns">
                    <div class="profile-pic">
                        <img src="/asset/a.jpg" alt="Profile Picture">
                        
                    </div>
                    <form>
                        <input type="text" placeholder="Name - Staff ID">
                        <input type="text" placeholder="Role">
                        <input type="text" placeholder="Gender">
                        <input type="text" placeholder="Address">
                        <input type="text" placeholder="Phone Number">
                        <input type="email" placeholder="Email">
                        <div class="action-buttons">
                            <button type="submit" >Confirm</button>  
                            <a href="/profile_page"><button type="button" >Cancel</button></a>
                        </div>
                        
                    </form>
                </div>
            </div>
            
        </div>

       
       

    </div>
   
</body>

</html>